.content-section {
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

li span {
  font-weight: bold;
  display: inline-block;
  margin-right: 30px;
}

.red {
  color: red;
}