<div class="content-section mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Overview!</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        Herd Information: <br/><br/>
        <ul>
          <li *ngFor="let yak of herd">
            <div><span style="margin-right: 20px">Name:</span> {{yak.name}}</div>
            <div><span>Age:</span> {{yak.age}} years old</div>
            <div><span>Sex:</span> {{yak.sex}}</div>
          </li>
        </ul>
      </span>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Stock Info!</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        Current available stock. <br/><br/>
        <div>Milk: {{milk}}</div>
        <div>Skins: {{skins}}</div>
      </span>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Orders</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        Overview of all orders so far.
      </span>
    </div>
    <div class="mdl-card__actions"><br/>
      <a class="mdl-button mdl-js-button mdl-typography--text-uppercase" [routerLink]="['/admin/orders']">
        more details
        <i class="material-icons">chevron_right</i>
    </a>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Upload new herd!</h4>
    </div>
    <div class="mdl-card__supporting-text">

      <form [formGroup]="herdForm" (submit)="submitHerd($event)" *ngIf="!submited">

        <span class="mdl-typography--font-light mdl-typography--subhead">
          <div class="cntr-content">

              <div class="mdl-textfield mdl-js-textfield">
                <input 
                  id="newHerd" 
                  type="file"
                  name="newHerd" 
                  class="form-control mdl-textfield__input" 
                  formControlName="newHerd">
                <label class="mdl-textfield__label" for="newHerd">Herd:</label>

                <div [hidden]="newHerd.valid || newHerd.untouched">
                  <div [hidden]="!newHerd.hasError('required')">herd file is required.</div>
                </div>
                <div class="red" [hidden]="fileExtension">Herd file is must be .xml format</div>
              </div>
          </div>

          <div class="cntr-content">
            <div class="snippet-demo-container demo-button demo-button__raised">
              <button type="submit"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" 
                  data-upgraded=",MaterialButton"
                  [disabled]="!herdForm.valid">
                    Upload new herd!
                </button>
            </div>
          </div>

          <p *ngIf="error" class="alert alert-danger">
            <strong>Oops!</strong> There was an error submiting the order. Please try again.
          </p>
        </span>
      </form>

      <div *ngIf="submited" class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead"> 
        <div>
          New herd has been uploaded:
          <div>
            Filename: {{fileName}}
          </div>
        </div>
      </span>
    </div>
    </div>    
  </div>

</div>