<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">YakShop</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a [routerLink]="['/orders']">Orders</a></li>
      <li><a [routerLink]="['/stock']">Stock</a></li>
      <li><a [routerLink]="['/admin']">Admin</a></li>
    </ul>
  </div>
</footer>