<header class="mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">YakShop</span>
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['/home']">Home</a>
      <a class="mdl-navigation__link" [routerLink]="['/stock']">Stock</a>
      <a class="mdl-navigation__link" [routerLink]="['/orders']">Order</a>
      <a class="mdl-navigation__link" [routerLink]="['/admin']">Admin</a>
    </nav>
  </div>
</header>
