<div class="content-section mdl-grid">  
  
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Orders!</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead">
        <ul>
          <li class="head-table">
            <span>Name</span>
            <span>Liters of milk</span>
            <span>Skins</span>
          </li>
          <li *ngFor="let order of orders">
            <span>{{order.customer}}</span>
            <span style="margin-right: 50px;">{{order.milk}} liters of milk</span>
            <span>{{order.skins}} skins</span>
          </li>
        </ul>
      </span>
    </div>    
  </div>

</div>