.content-section {
  min-width: 900px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}

li span {
  display: inline-block;
  margin-right: 30px;
}

.head-table {
  font-weight: bold;
}
.head-table span {
  margin-right: 80px;
}

