<div class="content-section mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Login</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead"></span>
        <span>Use admin/admin</span>
        <form [formGroup]="loginForm" (submit)="login($event)" *ngIf="!submited">
            <div class="mdl-textfield mdl-js-textfield">
                <input 
                  id="username" 
                  type="text"
                  name="username" 
                  class="form-control mdl-textfield__input" 
                  formControlName="username">
                <label class="mdl-textfield__label" for="username">Username:</label>
                <div [hidden]="username.valid || username.untouched">
                  <div [hidden]="!username.hasError('required')">Username is required.</div>
                </div>
              </div>

              <div class="mdl-textfield mdl-js-textfield">
                <input 
                  id="password" 
                  type="text"
                  name="password" 
                  class="form-control mdl-textfield__input" 
                  formControlName="password">
                <label class="mdl-textfield__label" for="password">Password:</label>

                <div [hidden]="password.valid || password.untouched">
                  <div [hidden]="!password.hasError('required')">Password is required.</div>
                </div>
              </div>

            <div class="cntr-content">
                <div class="snippet-demo-container demo-button demo-button__raised">
                  <button type="submit"
                      class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" 
                      data-upgraded=",MaterialButton"
                      [disabled]="!loginForm.valid">
                        Login
                    </button>
                </div>
              </div>
        </form>
    </div>
  </div>
</div>
