<div class="content-section mdl-grid">
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Our available stock!</h4>
  </div>
  <div class="mdl-card__supporting-text"><br/>
    <span class="mdl-typography--font-light mdl-typography--subhead">
      <div>{{milk}}</div>
      <div>{{skins}}</div>
    </span>
  </div>    
</div>