<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <yak-header></yak-header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="content-section mdl-grid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <yak-footer></yak-footer>
</div>