<div class="content-section mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Milk and Wool</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead"> 
        Order some of our grate products, milkd and wool. 
        Produced by our LabYaks!
      </span>
    </div>

    <form [formGroup]="orderForm" (submit)="submitOrder($event)" *ngIf="!submited">
      <div class="cntr-content">

          <div class="mdl-textfield mdl-js-textfield">
            <input 
              id="username" 
              type="text"
              name="username" 
              class="form-control mdl-textfield__input" 
              formControlName="username">
            <label class="mdl-textfield__label" for="username">Your Name:</label>

            <div [hidden]="username.valid || username.untouched">
              <div [hidden]="!username.hasError('required')">Name is required.</div>
            </div>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <input 
              id="milk" 
              type="text" 
              name="milk"
              class="mdl-textfield__input" 
              maxlength="3" 
              pattern="-?[0-9]*(\.[0-9]+)?" 
              formControlName="milk">
            <label class="mdl-textfield__label" for="milk">Milk Quantity:</label>

            <div [hidden]="milk.valid || milk.untouched">
              <div [hidden]="!milk.hasError('minlength')">
                Cannot order more than 999 liters :)
              </div>
              <div [hidden]="!milk.hasError('required')">
                Milk is required.
              </div>
            </div>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <input 
              id="skins" 
              type="text" 
              name="skins"
              class="mdl-textfield__input" 
              maxlength="3" 
              pattern="-?[0-9]*(\.[0-9]+)?" 
              formControlName="skins">
            <label class="mdl-textfield__label" for="skins">Wool Quantity:</label>

            <div [hidden]="skins.valid || skins.untouched">
              <div [hidden]="!skins.hasError('minlength')">
                Unfortunately we have a limited no. of skins.
              </div>
              <div [hidden]="!skins.hasError('required')">
                Wool is required.
              </div>
            </div>
          </div>

          <div class="mdl-textfield mdl-js-textfield">
            <div>Delivery Date:</div>
            <input 
              id="date" 
              type="date"
              name="date" 
              class="form-control mdl-textfield__input" 
              formControlName="date"
              min="{{deliveryMinDate | date:'yyyy-MM-dd'}}"
              max="{{deliveryMaxDate | date:'yyyy-MM-dd'}}">
          </div>
      </div>

      <div class="cntr-content">
        <div class="snippet-demo-container demo-button demo-button__raised">
          <button type="submit"
              class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" 
              data-upgraded=",MaterialButton"
              [disabled]="!orderForm.valid">
                Place Order!
            </button>
        </div>
      </div>

      <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error submiting the order. Please try again.
      </p>
    </form>

    <div *ngIf="submited" class="mdl-card__supporting-text">
      <span class="mdl-typography--font-light mdl-typography--subhead"> 
        <div>
          Here is your order:
          <div>
            Milk: {{milkOrdered}} liters
            <p>{{milkOutOfStock}}</p>

            Wool: {{skinsOrdered}} 
            <p>{{skinsOutOfStock}}</p>
            
            <a class="mdl-navigation__link" [routerLink]="['/home']">
              Navigate to Home
            </a>
          </div>
        </div>
      </span>
      </div>

  </div>
</div>
  