<div class="content-section mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--3dp">
    <div class="mdl-card__title">
      <h4 class="mdl-card__title-text">Welcome to the YakShop!</h4>
    </div>
    <div class="mdl-card__supporting-text"><br/>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        Meet our LabYaks!<br/>
        This tribe is known for its consistency in wool quality, milk taste and production rate of said goods. 
      </span>
    </div>    
  </div>

<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Stock</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">
      Current available stock. <br/><br/>
      <div>{{milk}}</div>
      <div>{{skins}}</div>
    </span>
  </div>
  <div class="mdl-card__actions">
    <a class="mdl-button mdl-js-button mdl-typography--text-uppercase" [routerLink]="['/stock']">
      check our stock
      <i class="material-icons">chevron_right</i>
  </a>
  </div>
</div>

<div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--3dp">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Order our amazing products</h4>
  </div>
  <div class="mdl-card__supporting-text">
    <span class="mdl-typography--font-light mdl-typography--subhead">
      We can offer you grate milk and high wool quality from our LabYaks!
    </span>
  </div>
  <div class="mdl-card__actions"><br/>
    <a class="mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
      buy now
      <i class="material-icons">chevron_right</i>
  </a>
  </div>
</div>
</div>