@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.content-section {
    padding: 40px 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
